:root {
    --main-color: #f4d04e;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 9.375rem 1.5rem;
    font-family: "Figtree", sans-serif;
}

.card {
    background-color: white;
    padding: 1.5rem;
    max-width: 24rem;
    border-radius: 15px;
    border: solid 1px;
    box-shadow: 8px 8px black;
    transition: all ease .2s;

}

.card:hover {
    box-shadow: 16px 16px black;

}

.card:hover h1 a {
    color: var(--main-color);
}

.card .img img {
    border-radius: 10px;
}

.flag {
    background-color: var(--main-color);
    width: fit-content;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 20px 0;
    color: #111111;
    font-weight: 800;
    font-size:  0.9375rem;

}

.flag+p {
    margin-bottom: 10px;
    font-size: 14px;
}

h1 a {
    color: #111111;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    transition: all ease .2s;
    text-decoration: none;
}

h1+p {
    color: #6b6b6b;
    line-height: 1.5;
    font-size: 20px;
}

.account {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
}

.account img {
    border-radius: 50%;
    width: 55px;
    height: 55px
}

.account p {
    color: #111111;
    font-weight: 800;
}